<head>
	<link rel="stylesheet" type="text/css" href="luxury_house.css">
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<title>Luxus yo</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="file:///C:/Users/Edgars/Documents/WEB%20DEVELOP/Luxury_house_project/luxury_house.html">home</a></li>
				<li><a href="">real estate</a></li>
				<li><a href="">other countries</a></li>
				<li><a href="">about us</a></li>
                <li><a href="">filter </a></li>
                <li><a href="file:///C:/Users/Edgars/Documents/WEB%20DEVELOP/Luxury_house_project/add_new_prop.html">publish <a>≡</a></a></li>
				<li><a href=""></a></li>	
			</ul>
		</nav>
		<div>
			<h2>luxury house</h2>
			<p style="color: white">jurmala, asaru street</p>
			<h3>12 000 000 $</h3>
		</div>
	</header>
    <main>
        <div class="col-12">
            <div class="title.col-4">
                <h3 class="new">publish propperty</h3>
            </div>
        </div> 
        <div class="col-12">
            <div class="col-6">
                <form>
                    <label for="fname">country</label>
                    <input type="text" >
                    <label for="lname">citty</label>
                    <input type="text" id="lname" name="lname">
              </form>
            </div>
            <div class="col-6">
                <form>
                    <label for="fname">street</label>
                    <input type="text" id="fname" name="fname">
                    <label for="lname">house no</label>
                    <input type="text" id="lname" name="lname">
               </form>
            </div>
        </div> 
        <div class="col-12">
            <div class="col-6">
                <form>
                    <label for="fname">area</label>
                    <input type="text" >
                    <label for="lname">floors</label>
                    <input type="text" id="lname" name="lname">
                </form>
            </div>
             <div class="col-6">               
                     <form>
                        <label for="fname">area</label>
                        <input type="text" >
                        <label for="lname">floors</label>
                         <input type="text" id="lname" name="lname">
                     </form>
                </div>    
        </div>
        <div class="col-12">
            <form> 
              <label class="description">Description</label>
              <input type="text" style="height:200px; width: 50%;">
            </form>   
        </div>
        <div class="col-12">
            <div class="col-6">               
                <form>
                    <label><h4>ekstras</h4></label>
                    <input type="checkbox" >
                    <label> pool</label>
                    <input type="checkbox" >
                    <label> gym</label>
                    <input type="checkbox" >
                    <label> tennis court</label>
                    <input type="checkbox" >
                    <label> terrace</label>
                </form>
            </div>    
        </div> 
        
        <div class="col-12">
            <div class="col-4">
                <h4>price<input type="text"></h4>
            </div>
        </div> 
         <div class="col-12">
                <h4>photoes</h4>
                <div class="col-3">
                    <form>
                        <input type="file" id="selectedFile" style="display: none;" />
                        <input type="button" value="Photoe 1" onclick="document.getElementById('selectedFile').click();" />
                    </form>
                </div>
                <div class="col-3">
                    <form>
                        <input type="file" id="selectedFile" style="display: none;" />
                        <input type="button" value="Photoe 2" onclick="document.getElementById('selectedFile').click();" />
                    </form>    
                </div>
                <div class="col-3">
                    <form>
                        <input type="file" id="selectedFile" style="display: none;" />
                        <input type="button" value="Photoe 3" onclick="document.getElementById('selectedFile').click();" />
                    </form>
                </div>
                <div class="col-3">
                    <form>
                        <input type="file" id="selectedFile" style="display: none;" />
                        <input type="button" value="Photoe 4" onclick="document.getElementById('selectedFile').click();" />
                    </form>
                </div>
            </div>
        </div> 
        <div class="col-12">
            <div class="col-3">
                <form>
                    <input type="file" id="selectedFile" style="display: none;" />
                    <input type="button" value="Photoe 5" onclick="document.getElementById('selectedFile').click();" />
                </form>
            </div>
            <div class="col-3">
                <form>
                    <input type="file" id="selectedFile" style="display: none;" />
                    <input type="button" value="Photoe 6" onclick="document.getElementById('selectedFile').click();" />
                </form>    
            </div>
            <div class="col-3">
                <form>
                    <input type="file" id="selectedFile" style="display: none;" />
                    <input type="button" value="Photoe 7" onclick="document.getElementById('selectedFile').click();" />
                </form>
            </div>
            <div class="col-3">
                <form>
                    <input type="file" id="selectedFile" style="display: none;" />
                    <input type="button" value="Photoe 8" onclick="document.getElementById('selectedFile').click();" />
                </form>
            </div>
        </div>
        <div class="col-12">
            <form>
                <input type="submit">
            </form>
        </div>
    </main>
	<footer>
		<div class="footer-logo">
			<img src="img/footer-logo.png" height="230px" width="300px;">
		</div>
		<div class="footer-info">
			<h5>EDBAU</h5>
		</div>
	</footer>
</body>