a {
  text-decoration: none;
}
header {
  height: 400px;
  background-image: url(img/header_picture.jpg);
  background-color: #cccccc;
  margin-bottom: 2px;
  background-size: cover;
}
main {
  height: 960px;
  margin: 0 5;
}
footer {
  height: 250px;
}
header div {
  text-align: center;
  padding-top: 150px;
}
li {
  display: inline;
  vertical-align: middle;
  padding: 0px 16px;
  margin-top: auto;
  margin-bottom: auto;
}
ul {
  padding-left: 20px;
}
nav a {
  color: white;
  font-size: 20px;
}
nav {
  background-color: rgba(0, 0, 0, 0.9);
  height: 50px;
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 15px;
  opacity: 0.6;
}
p {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
h2 {
  font-size: 90px;
  margin: 0;
  color: white;
}
h3 {
  font-size: 50px;
  color: white;
  margin: 0 8;
}
.pageslist {
  height: 50px;
  text-align: center;
}
.button {
  border-radius: 10px;
  padding: 0 15;
  background-color: #ded6d5;
  color: white;
}
.row {
  height: 320px;
}
section.col-4 {
  height: 264px;
  float: left;
  text-align: center;
  margin: 0 ;
  position: relative;
}
h4 {
  margin: 10 0;
}
h5 {
  margin: 0;
}
.row-last {
  background-color: #ded6d5;
}
.footer-logo {
  height: 230px;
  text-align: center;
}
.footer-info {
  background-color: black;
  opacity: 0.65;
  color: #7e9aa3;
  font-size: 20px;
  padding-left: 20px;
}
.button a {
  color: white;
  font-weight: bold;
}
.middle {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 41%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.col-4:hover .image {
  opacity: 0.4;
}
.col-4:hover .overlay p a {
  opacity: 1;
}
.overlay p a {
  color: white;
  font-size: 16px;
  background-color: black;
  opacity: 0;
  border-radius: 15px;
  padding: 2px 20px;
}
.new {
  color: black;
  text-align: center;
  padding-bottom: 50px;;
}
.address {
  text-align: center;
}
input[type=button] {
  background-color:#7c7e7c;
  border: solid;
  color: white;
  padding: 20px 40px;
  width: 100%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit] {
  background-color:#d6d6d6;
  border: none;
  color: rgb(231, 54, 54);
  padding: 20px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.description {
  vertical-align: top;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
  position: relative;
  float: left;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
  position: relative;
  float: left;
  padding-bottom: 50px;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
  
}
/*# sourceMappingURL=luxury_house.css.map */