<head>
	<link rel="stylesheet" type="text/css" href="luxury_house.css">
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<title>Property</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="file:///C:/Users/Edgars/Documents/WEB%20DEVELOP/Luxury_house_project/luxury_house.html">home</a></li>
				<li><a href="">real estate</a></li>
				<li><a href="">other countries</a></li>
				<li><a href="">about us</a></li>
				<li><a href="">filter </a></li>
				<li><a href="file:///C:/Users/Edgars/Documents/WEB%20DEVELOP/Luxury_house_project/add_new_prop.html">publish <a>≡</a></a></li>
				<li><a href=""></a></li>
			</ul>
		</nav>
		<div>
			<h2>luxury house</h2>
			<p style="color: white">jurmala, asaru street</p>
			<h3>12 000 000 $</h3>
		</div>
	</header>
		<div class="pageslist">
			<ul class="list">
				<li class="button"><a href="">1</a></li>
				<li class="button"><a href="">2</a></li>
				<li class="button"><a href="">3</a></li>
				<li class="button"><a href="">4</a></li>
				<li class="button"><a href="">5</a></li>
			</ul>
		</div>
	<main>
		<div class="col-9">
			<div class="row">
				<section class="col-4">
					<img src="img/villa-in-jurmala-1.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>				
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-2.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-3.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
			</div>
			<div class="row">
				<section class="col-4">
					<img src="img/villa-in-jurmala-4.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-5.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-6.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
			</div>
			<div class="row-last">
				<section class="col-4">
					<img src="img/villa-in-jurmala-7.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-8.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
				<section class="col-4">
					<img src="img/villa-in-jurmala-9.jpg" alt="luxury villa in jurmala" height="100%" width="96%" class="image">
					<div class="overlay">
						<p class="middle"><a href="">more</a></p>
					</div>
					<h4>villa in jurmala</h4>
				</section>
			</div>
		</div>
		<div class="col-3">
		</div>	
	</main>
		<div class="pageslist">
			<ul class="list">
				<li class="button"><a href="">1</a></li>
				<li class="button"><a href="">2</a></li>
				<li class="button"><a href="">3</a></li>
				<li class="button"><a href="">4</a></li>
				<li class="button"><a href="">5</a></li>
			</ul>
		</div>
	<footer>
		<div class="footer-logo">
			<img src="img/footer-logo.png" height="230px" width="300px;">
		</div>
		<div class="footer-info">
			<h5>EDBAU</h5>
		</div>
	</footer>
</body>